In [1]:
import pandas as pd
df = pd.read_json("/root/workspace/culfjk4p420c73amv510/herunming/Bigmath_all_synth_20000_pseudo.jsonl",lines=True)
df.head()

,prompt,solution,source,domain,llama8b_solve_rate,generated_question,pseudo_answers,pseudo_solutions,pseudo_correct_solution_example,pseudo_answer_value
0,"Given that ${a_n}$ is an arithmetic sequence, ...",\frac{1}{10},cn_k12,[Mathematics -> Algebra -> Sequences and Series],0.281250,"A company produces widgets, and the production...","[0.01125, 0.01125, 0.01125, 0.01125, 1.141875]","[To find the common difference \( d \), we beg...","To find the common difference \( d \), we begi...",0.01125
1,"A luxury liner, Queen Mary II, is transporting...",7,orca_math,[Mathematics -> Applied Mathematics -> Math Wo...,0.234375,A bird sanctuary features several species of b...,"[7, 7, 7, 7, 1]",[Let's define variables to solve the problem:\...,Let's define variables to solve the problem:\n...,7
2,Find the conjugate of the complex number $\fra...,1-i,big_math,[Mathematics -> Algebra -> Intermediate Algebr...,0.671875,Sarah invests $500 in a savings account that o...,"[19.56, 19.56, 20.91, 1.5, 19.56]",[To find the balance \( X \) at the end of 3 y...,To find the balance \( X \) at the end of 3 ye...,19.56
3,Given the solution set of the inequality $x^2+...,"(-2, -\frac{1}{2})",cn_k12,[Mathematics -> Algebra -> Equations and Inequ...,0.265625,"A company's monthly profit, P(x), in thousands...","[3996, 2, 4000, 0, 0]",[Let's analyze the problem and solve step by s...,Let's analyze the problem and solve step by st...,0
4,A positive integer $a$ is input into a machine...,218,omnimath,[Mathematics -> Applied Mathematics -> Math Wo...,0.093750,A city park is planning to build a skate ramp....,"[104, 3, 104, 104, 104]","[First, let's calculate the total additions to...","First, let's calculate the total additions to ...",104

In [3]:
# 保留["generated_question","pseudo_correct_solution_example","pseudo_answer_value"]
df = df[["generated_question","pseudo_correct_solution_example","pseudo_answer_value"]]
df.head()

,generated_question,pseudo_correct_solution_example,pseudo_answer_value
0,"A company produces widgets, and the production...","To find the common difference \( d \), we begi...",0.01125
1,A bird sanctuary features several species of b...,Let's define variables to solve the problem:\n...,7
2,Sarah invests $500 in a savings account that o...,To find the balance \( X \) at the end of 3 ye...,19.56
3,"A company's monthly profit, P(x), in thousands...",Let's analyze the problem and solve step by st...,0
4,A city park is planning to build a skate ramp....,"First, let's calculate the total additions to ...",104

In [4]:
df.to_json("/root/workspace/culfjk4p420c73amv510/herunming/Bigmath_synth_20000.jsonl",lines=True,orient="records")

In [1]:
import pandas as pd

df = pd.read_json("/root/workspace/culfjk4p420c73amv510/herunming/DataFlow/demos/demos_result/math/pipeline_Q/Corrected_step2.jsonl",lines=True)