In [1]:
import pandas as pd
df = pd.read_json("/root/workspace/culfjk4p420c73amv510/herunming/DataFlow/Bigmath_synth_3_o3_mini_questionlist.jsonl",lines=True)
df.head()

                                              prompt
0  Diana and Apollo participate in a raffle in wh...
1  Two players, Emma and Liam, each spin a fair s...
2  Let f(x) = A·x + B be a linear function with A...
3  Let f(x) = a·x² – (40a⁄3)·x + c with a > 0 and...
4  At an art contest, 5 judges (J1, J2, J3, J4, a...

In [3]:
# 去掉prompt 为空的行
df = df[df["prompt"].notna()]

In [4]:
df.shape

(39991, 1)

In [5]:
df.to_json("/root/workspace/culfjk4p420c73amv510/herunming/DataFlow/Bigmath_synth_3_o3_mini_questionlist.jsonl",orient="records",lines=True,force_ascii=False)

In [3]:
# 保留["generated_question","pseudo_correct_solution_example","pseudo_answer_value"]
df = df[["generated_question","pseudo_correct_solution_example","pseudo_answer_value"]]
df.head()

,generated_question,pseudo_correct_solution_example,pseudo_answer_value
0,"A company produces widgets, and the production...","To find the common difference \( d \), we begi...",0.01125
1,A bird sanctuary features several species of b...,Let's define variables to solve the problem:\n...,7
2,Sarah invests $500 in a savings account that o...,To find the balance \( X \) at the end of 3 ye...,19.56
3,"A company's monthly profit, P(x), in thousands...",Let's analyze the problem and solve step by st...,0
4,A city park is planning to build a skate ramp....,"First, let's calculate the total additions to ...",104

In [4]:
df.to_json("/root/workspace/culfjk4p420c73amv510/herunming/Bigmath_synth_20000.jsonl",lines=True,orient="records")

In [1]:
import pandas as pd

df = pd.read_json("/root/workspace/culfjk4p420c73amv510/herunming/DataFlow/demos/demos_result/math/pipeline_Q/Corrected_step2.jsonl",lines=True)